<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:include="~{../static/html/head.html}"></head>
<body>
<header th:include="~{../static/html/header.html}"></header>
<main class="container">

    <div class="contenedor-formulario">
        <form th:action="@{/usuario/guardarUsuario}" th:object="${usuario}" th:method="post">
            <input type="hidden" th:field="*{idUsuario}"/>
            <div class="form-group">
                <label for="run-usuario">Run trabajador</label>
                <input type="number" class="form-control" id="run-usuario" name="run" th:value="${usuario.getRun()}">
            </div>
            <div class="form-group">
                <label for="nombre-usuario">Nombre</label>
                <input type="text" class="form-control" id="nombre-usuario" name="nombre" th:value="${usuario.getNombre()}">
            </div>
            <div class="form-group">
                <label for="apellido1-usuario">Apellido 1</label>
                <input type="text" class="form-control" id="apellido1-usuario" name="apellido1" th:value="${usuario.getApellido1()}">
            </div>
            <div class="form-group">
                <label for="apellido1-usuario">Apellido 2</label>
                <input type="text" class="form-control" id="apellido2-usuario" name="apellido2" th:value="${usuario.getApellido2()}">
            </div>
            <div class="form-group">
                <label for="email-usuario">Email</label>
                <input type="email" class="form-control" id="email-usuario" name="email" th:value="${usuario.getEmail()}">
            </div>
            <div class="form-group">
                <label for="password-usuario">Clave</label>
                <input type="password" class="form-control" id="password-usuario" name="clave" th:value="${usuario.getClave()}">
            </div>
            <!--<input type="datetime-local" name="fechaCreacion">-->
            <div style="display:block;">
                <input type="datetime-local" id="fechaInput" name="fechaCreacion" value="" th:value="${usuario.getFechaCreacion()}">
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="idPerfil.idPerfil" id="inlineRadio1" th:value="3" th:checked="${usuario.idPerfil.getIdPerfil()} == 3">
                <label class="form-check-label" for="inlineRadio1">Empleador</label>
            </div>

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="idPerfil.idPerfil" id="inlineRadio2" th:value="2" th:checked="${usuario.idPerfil.getIdPerfil()} == 2">
                <label class="form-check-label" for="inlineRadio2">Contador</label>
            </div>
            <button type="submit" class="btn btn-primary">Registrar</button>


        </form>
    </div>
</main>
<footer th:include="~{../static/html/footer.html}" ></footer>
<div th:include="~{../static/html/linksScripts.html}" ></div>
<!-- Manejo fecha y hora actual -->

</body>
</html>